# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Django
*.log
*.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/admin/
static/rest_framework/
static/drf-yasg/
static/js/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
